
<div class="mac-book-air-1">
    <link rel="stylesheet" href="Page1c.css">
    <div class ="containers">
        <div class="rectangle-1">
        </div>
        <div class="container-1">
        <div class="cll-122-chemical-reaction-engg">
            <br />
            CLL122 - Chemical Reaction Engg
        </div>
        <div class="calculator-for-reactors">
            Calculator for Reactors 
        </div>
        <div class="select-the-reactor">
            Select the reactor
        </div>
        <div class="container">
            <div class="group-1">
            <div class="maxresdefault-removebg-preview-1">
              <a href="cstr.html">
                    <img src="pic1.png">
                </a>
            </div>
            <div class="cstr">
                CSTR
            </div>
            <span class="continuous-stirred-tank-reactor">
                (Continuous Stirred Tank Reactor)
            </span>
            </div>
            <div class="group-2">
            <div class="container-2">
                <div class="maxresdefault-removebg-preview-2">
                    <a href="pfr.html">
                        <img src="pic2.png">
                    </a>
                </div>
                <span class="plug-flow-reactor">
                (Plug Flow Reactor)
                </span>
            </div>
            <span class="pfr">
                PFR
            </span>
            </div>
        </div>
        </div>
    </div>
  </div>

<!--
  <div class="mac-book-air-1">
    <link rel="stylesheet" href="Page1c.css">
    <div class="rectangle-2">
    </div>
    <div class="container-1">
      <div class="iit-delhi-logo-21">
      </div>
      <div class="cll-122-chemical-reaction-engg">
        <br />
        CLL122 - Chemical Reaction Engg
      </div>
      <div class="group-3">
        <div class="rectangle-1">
        </div>
        <div class="calculator-for-reactors">
            Calculator for Reactors 
      </div>
      <div class="select-the-reactor">
        Select the reactor
      </div>
      <div class="container-2">
        <div class="group-1">
          <div class="maxresdefault-removebg-preview-1">
            <a href="new-page.html">
                <img src="pic1.png"> 
            </a>
          </div>
          <div class="cstr">
            CSTR
          </div>
          <span class="continuous-stirred-tank-reactor">
            (Continuous Stirred Tank Reactor)
          </span>
        </div>
        <div class="group-2">
          <div class="container">
            <div class="maxresdefault-removebg-preview-2">
                <a href="new-page.html">
                    <img src="pic2.png">
            </div>
            <span class="plug-flow-reactor">
              (Plug Flow Reactor)
            </span>
          </div>
          <span class="pfr">
            PFR
          </span>
        </div>
      </div>
      <span class="team-satvik-deep-pranjal-bainsla-kartikeya-chaplot-pratham-neema">
        Team - Satvik Deep, Pranjal Bainsla, Kartikeya Chaplot, Pratham Neema
      </span>
    </div>
  </div>



  <div class="mac-book-air-1">
    <link rel="stylesheet" href="Page1c.css">
    <div class="iit-delhi-logo-21">
    </div>
    <div class="cll-122-chemical-reaction-engg">
      <br />
      CLL122 - Chemical Reaction Engg
    </div>
    <div class="group-3">
      <div class="rectangle-1">
      </div>
      <span class="calculator-for-reactors">
        Calculator for Reactors 
      </span>
    </div>
    <div class="select-the-reactor">
      Select the reactor
    </div>
    <div class="container-1">
      <div class="group-1">
        <div class="maxresdefault-removebg-preview-1">
        </div>
        <div class="cstr">
          CSTR
        </div>
        <span class="continuous-stirred-tank-reactor">
          (Continuous Stirred Tank Reactor)
        </span>
      </div>
      <div class="group-2">
        <div class="container">
          <div class="maxresdefault-removebg-preview-2">
          </div>
          <span class="plug-flow-reactor">
            (Plug Flow Reactor)
          </span>
        </div>
        <span class="pfr">
          PFR
        </span>
      </div>
    </div>
    <div class="group-4">
      <div class="rectangle-2">
      </div>
      <span class="team-satvik-deep-pranjal-bainsla-kartikeya-chaplot-pratham-neema">
        Team - Satvik Deep, Pranjal Bainsla, Kartikeya Chaplot, Pratham Neema
      </span>
    </div>
  </div>

-->